<!DOCTYPE html>
<!-- saved from url=(0029)http://127.0.0.1:5500/pr.html -->
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
	<link rel="stylesheet" href="css/styles.css">
</head>
<body><form action="/login" method="post">
    <div class="log">
        <h1  id="h">Login </h1>
     <div>
      <input type="name" name = "name" id="mail" placeholder="Enter Your Name"></br>

     </div> 
      <br>

     
    <input type="password" id="Space" name="password" placeholder="Enter Your Password"><br/><br/>

      <a href="https://www.google.co.in/" style="font-size: small;" id="Forget">Forget Password ?</a>
    
    <br>
     
        <button class="Button" type = "submit">Login</button></br>
           Don't have an account? <a href="signup.hbs" style="font-size: small;" id="Register">Register</a>
		</div></form>

    

              </body></html>
